.flex{
    display: flex;
    justify-content: end;
}
.grind{
    display: grid;
    grid-template-columns: repeat(3,100px); 
    grid-template-rows: repeat(3,100px);
}
.align{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.gap{
    display: flex;
    gap: 20px;/*genera espacio entre los elementos*/
}
.cont-grid{
    display: grid;
    grid-template-columns:100px 150px 350px; 
    grid-template-rows: 200px 100px;
}

/*pokemones*/

.alineamiento{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 20px;
}
.alineamiento-foto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-Mimikyu{
    background-color: hwb(49 34% 38%);
    border-radius: 50px;
    color: blanchedalmond
}
.color-Meowth{
    background-color: peru;
    border-radius: 50px;
    color: hsl(59, 91%, 66%);
}
.color-Diancie{
    background-color: hwb(54 21% 23%);
    border-radius: 50px;
}

.tamaño{
    width: 80%;
    object-fit: cover;
}

.tamaño2{
    width: 100%;
    object-fit: fill;
}