.fondo{
    background-color: rgb(94, 90, 90);
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tamaño{
    width: 50px;
}
.color{
    background-color: #f3a88e;
}