body {
  background-color: #FFE6E6;
  font-size: 16px;
}

.orientation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-inline: 30px;
}

@media (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .orientation {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

/* Estilos para tablets */
@media (min-width: 601px) and (max-width: 1024px) {
  body {
    background-color: lightgreen;
    font-size: 18px;
  }
}

.barra{
  border-bottom: 2px gray solid;
  margin: 5px;
  padding: 15px;
  background-color: #E1AFD1;
}

.tamaño-letra{
  font-size: 30px;
}

.margen{
  margin-bottom: 30px;
}

.espacio{
  margin: 5px;
  padding: 5px;
}

.boton{
  display: flex;
  flex-direction: column;
}

.foto{
  width: 100%;
  object-fit: cover;
  object-fit: contain;
}

.fila{
  display: flex;
  flex-direction: row;
}

.max{
  max-width: 640px;
}